
body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1{ 
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 28px;
    color: #eee;
    text-align: center;
    padding: 15px;
}
.container{
    font-size: 24px;
    margin: 0 auto;
    width: 1024px;
}

.red-link {
    color: #d21034;
}

#main-bio{
    float: left;
    width: 70%;
    line-height: 1.5em;
}

#bio-image{
    float: left;
    margin-right: 20px;
}

#contact-info{
    float: left;
    width: 30%;
    font-size: 17px;
    line-height: 1.5em;
    
}

header{
    background-color: #333333;
    }

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    }

h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    }

img {
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    width: 200px;
    height: 200px;
    margin-right: 20px;

}

p {
    font-size: 20px;
    }


        



    